.Navbar{
    background-color: rgba(0,86,155,255);
    height: 8vh;
    display: flex;
    justify-content: space-between;
}

.Navbar img{
    margin-left: 3.5%;
    max-height: 100%;
}

.Navbar h1{
    color: white;
    letter-spacing: 3px;
    font-size: 1.75rem;
    text-transform: uppercase;
    font-weight: 600;
}

.search input{
    outline: none;
    border: none;
    width: 100%;
    padding-left: 0.2em;
    font-size: 1rem;
    font-weight: 600;
}

.search{
    display: flex;
    margin-right: 3.5%;
    height: 60%;
    align-self: center;
}

.search button{
    width: 2em;
    border: none;
    cursor: pointer;
    background-color: white;
}